@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

a {
  color: #E0FFFF;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding:0 1em;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
}

section {
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('./img/bg2.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

header section {
  max-width: 640px;
  margin: 0 auto;
}

header img {
  vertical-align: middle;
  width: 150px;

  border-radius: 50%;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #4682B4;
}

.course {
  display: flex;
  flex-wrap: wrap;
}

.course .title {
  color: #4682B4;
  font-weight: bold;
  flex: 0 0 33.3%;
  max-width: 33.3%
}

.course .descrition {
  flex: 0 0 66.6%;
  max-width: 66.6%
}

.course .descrition p {
  padding-left: 1em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills .column {
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul, .job-description {
  list-style-type: none;
  padding: 0
}

.skills .column ul > li::before {
  content: "►";
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: #4682B4;
}

.language p {
  line-height: 1;
  padding-left: 0.5em;
}

.school {
    padding-top: 1em;
}

.school span, .job-title span {
  color: #4682B4;
  text-decoration: underline;
}

.job-description li::before {
  content: "✔";
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: #4682B4;
}

footer {
 padding: 1em 1.5em;
 background-color: #4682B4;
 color: white;
 text-align: right;
}

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title, .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}
